@model List<Service>

<div class="container">
    <div class="row">
       <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Slider - Table</h4>
              <div class="table-responsive">
                <div class="d-flex justify-content-between">
                    <a class="btn btn-secondary text-white" asp-controller="dashboard" asp-action="index">Go Back</a>
                    <a class="btn btn-success text-white" asp-controller="service" asp-action="create">Create</a>
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Image
                      </th>
                      <th>
                        Title
                      </th>
                      <th>
                        Description
                      </th>
                      <th>
                        Setting
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                     @foreach (var service in Model)
                   {
                    <tr>
                        <td class="py-1">
                            @foreach (var image in service.Images)
                           {
                                if (image.IsMain == true)
                                {
                                    <img src="~/assets/uploads/images/@image.Url" alt="image"/>
                                }
                           }
                        </td>
                        <td>
                          @service.Title
                        </td>
                        <td>
                          @service.Description
                        </td>
                        <td>
                              <div class="d-flex">
                                  <a class="btn btn-primary text-white mx-1" asp-controller="service" asp-action="detail" asp-route-id="@service.Id">Detail</a>
                                  <a class="btn btn-warning text-white mx-1" asp-controller="service" asp-action="update" asp-route-id="@service.Id">Update</a>
                                  <a class="btn btn-danger text-white mx-1" asp-controller="service" asp-action="delete" asp-route-id="@service.Id">Delete</a>
                              </div>
                        </td>
                    </tr>
                   }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>